<svg:g 
  class="link"
  [attr.link_id]="link.link_id"
  [attr.map-source]="link.source.node_id"
  [attr.map-target]="link.target.node_id"
  [attr.transform]="transformation"
>
  <svg:path #path
    *ngIf="link.link_type == 'ethernet'"
    class="ethernet_link"
    stroke="#000"
    stroke-width="2"
    [attr.d]="d"
    
  />
  <svg:path #path
    *ngIf="link.link_type == 'serial'"
    class="serial_link"
    stroke="#B22222"
    fill="none"
    stroke-width="2"
    [attr.d]="d"
  />

  <svg:g [app-status]="sourceStatusHasChanged" />
  <svg:g [app-status]="targetStatusHasChanged" />
</svg:g>