<svg #svg 
    class="map"
    preserveAspectRatio="none" 
    [attr.width]="width"
    [attr.height]="height"
    >
    <g [attr.transform]="getTransformation()">
        <g 
            *ngFor="let link of links"
            [app-link]="link" 
            [node-changed]="nodeChanged"
        ></g>
        <g 
            *ngFor="let node of nodes"
            [app-node]="node" 
            [symbols]="symbols"
            (valueChange)="onNodeChanged($event)"
        ></g>
        <g [app-drawing]="drawing" *ngFor="let drawing of drawings"></g>
    </g>

    <g [app-selection]="svg"></g>
</svg> 
